* {
    margin: 0;
    padding: 0;
}
#title {
    font-family: 'Cinzel', serif;
    font-size: 52;
    /*  color: linen;*/
    color: #202020;
    letter-spacing: 1px;
    text-align: right;
    border-bottom: 1px solid #7BAFD4;
    margin: 0 20 0 20;
    padding: 20 15 0 0;
    /*border: 1px solid black;*/
}
#top{
  height: 90px;
}
body {
    /*background-color: #202020; */
    background-color: linen;
}
.nav {
    margin: 0 20 20 20;
    padding: 10 15 30 5;
    /*border: 3px solid green;*/
}
.item {
    /*border-bottom: 1px solid #7BAFD4;*/
    /*width: 70px;*/
    /*font: 300 18px/25px 'Quicksand', sans-serif;*/
    font: 300 15px/25px 'Inknut Antiqua', serif;
    /*color: linen;*/
    color: #202020;
    text-align: center;
    letter-spacing: -1px;
    float: right;
    margin: 0 0 0 25;
    font-weight: 1800;
    /*border: 1px solid red;*/
}
.button {
   border: 0px solid #0a3c59;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   /*background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);*/
   padding: 5.5px 12px;
   -webkit-border-radius: 700px;
   -moz-border-radius: 700px;
   border-radius: 700px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #06426c;
   font-size: 15px;
   font-family: helvetica, serif;
   text-decoration: none;
   /*vertical-align: middle;*/
   }
.button:hover {
   border: 0px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 0px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }
.main {
    text-align: center;
    padding: 10 10 10 30;
    margin: 20;
    /*border: 1px solid green;*/
}
.vocab {
    /*font: 700 30px/35px 'Quicksand', sans-serif;*/
    font: 300 30px/35px 'Inknut Antiqua', serif;
    /*color: linen;*/
    color: #202020;
    letter-spacing: -1px;
    padding: 5 5 0 5;
    margin: 0 0 15 0;
    /*border: 2px solid black;*/
}
#subject{
  margin-left: 30%;
  margin-right: 30%;
}
#noun{
  margin-left: 40%;
  margin-right: 40%;
}
#writehere{
  padding:0;
  margin: 0;
}
footer {
    /*  color: linen; */
    color: #202020;
    text-align: right;
    /*font: normal 14px/10px 'Quicksand', sans-serif;*/
    font: 300 12px/10px 'Inknut Antiqua', serif;
    letter-spacing: -1px;
    border-top: 1px solid #7BAFD4;
    margin: 20;
    padding: 10;
    position: fixed;
    bottom: 0;
    /*border: 1px solid blue;*/
}
