* {
    margin: 0;
    padding: 0;
}
#title {
    font-family: 'Cinzel', serif;
    font-size: 52;
    /*  color: linen;*/
    color: #202020;
    letter-spacing: 1px;
    text-align: right;
    border-bottom: 1px solid #7BAFD4;
    margin: 20 20 0 20;
    padding: 0 15 0 0;
    /*border: 1px solid black;*/
}
#top{
  height: 90px;
  border: 1px solid linen;
}

body {
    /*background-color: #202020; */
    background-color: linen;
}
.nav {
    margin: 0 20 20 20;
    padding: 10 15 30 5;
    /*border: 3px solid green;*/
}
.item {
    /*border-bottom: 1px solid #7BAFD4;*/
    /*width: 70px;*/
    font: bold 20px/25px 'Quicksand', sans-serif;
    /*color: linen;*/
    color: #202020;
    text-align: center;
    letter-spacing: -1px;
    float: right;
    margin: 0 0 0 25;
    /*border: 1px solid red;*/
}
.main {
    text-align: center;
    padding: 10 10 10 30;
    margin: 20;
    border: 1px solid green;
    /*position: fixed;*/
}
.vocab {
    font: 900 26px/25px 'Quicksand', sans-serif;
    /*color: linen;*/
    color: #202020;
    letter-spacing: -1px;
    padding: 5 5 5 5;
    margin: 0 0 15 0;
    border: 2px solid black;
}
#subject{
  margin-left: 40%;
  margin-right: 40%;
}
#noun{
  margin-left: 40%;
  margin-right: 40%;
}
footer {
    /*  color: linen; */
    color: #202020;
    text-align: right;
    font: normal 14px/10px 'Quicksand', sans-serif;
    border-top: 1px solid #7BAFD4;
    margin: 20;
    padding: 10;
    /*border: 1px solid blue;*/
}
